@import "../theme/variables";
@import "../theme/component-variables";
@import "../theme/mixins";

/*--------------------------------------------------------------------------------------
-------------------------			MAIN LAYOUT  				------------------------
--------------------------------------------------------------------------------------*/

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


/*/* Wrapper for page content to push down footer */
#container {
    width: @mainContainerWidth;
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */	
    background: 2white;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
    padding: 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 75px;
    z-index: 900;
}

#content {
    position: fixed;
    top: 81px;
    bottom: 75px;
    min-height: 425px;
    overflow: hidden;
    width: 100%;

    nav {
        width: 250px;
        height: 100%;
        padding: 20px;
        background-color: #edf1f2;
        border-right: 1px solid @topNavUserBackgroundHover;
        display: block;
        float: left;
    }

    #body {
        width: 500px;
        height: 100%;
        padding: 20px;
        display: block;
        overflow: hidden;
        float: left;

        section#sub-nav {
            color: @doveGray;
            margin-top: -28px; 
            .font-weight(normal);
            color: #858585;

            ul {
                list-style: none;
                display: inline-block;
                margin: 0 0 0 -3px;
                padding: 0;
                
                li {
                    float:left;
                    margin-right: 5px;

                    a {
                        color: @doveGray !important;
                        padding: 2px 4px 2px 4px;
                    }

                    a.selected {
                        color: @headingsColor !important;
                        .font-weight(semibold);
                    }

                    a:hover {
                        color: @headingsColor !important;
                    }
                }
            }
        }
    }

    h1 {
        margin-top: 5px;
        padding-top: 5px;
        .font-weight('semilight');

        span {
            .font-weight('semibold');
        }
    }

    p {
        font-family:Arial, Helvetica, sans-serif;
        font-size: @baseFontSize;
        color: #898989;
        .font-weight(normal);
        padding-left: 2px;
        margin-top: 8px;
    }
}

.wrapper {
    padding: 20px;
}


/*--------------------------------------------------------------------------------------
-------------------------			OTHER LAYOUTs  				------------------------
--------------------------------------------------------------------------------------*/

.upload-section-block {
    display: table;
    width: 100%;
}

.upload-section-block .col1 {
    width: 80px;
    float: left;
}

.upload-section-block .colNext {
    float: left;
}

.fifty-fifty {
    display: table;
    width: 100%;
}

.fifty-fifty .col1 {
    width: 48%;
    float: left;
}

.fifty-fifty .col2 {
    width: 50%;
    float: right;
    padding-left: 10px;
}

.twothirds-onethird {
    display: table;
    width: 100%;
    padding: 0px;
}

.twothirds-onethird .col1 {
    display: table-cell;
    width: 65%;
    float: left;
}

.twothirds-onethird .col2 {
    display: table-cell;
    width: 35%;
    float: left;
}

.twothirds-onethird-reverse {
    display: table;
    width: 100%;
}

.twothirds-onethird-reverse .col1 {
    width: 34%;
    float: left;
}

.twothirds-onethird-reverse .col2 {
    width: 64%;
    float: left;
    padding-left: 15px;
}

.third-third-third {
    display: table;
    width: 100%;
    padding: 0px;
}

.third-third-third .col1 {
    display: table-cell;
    width: 32.5%;
    float: left;
}

.third-third-third .col2 {
    display: table-cell;
    width: 32.5%;
    float: left;
}

.third-third-third .col3 {
    display: table-cell;
    width: 35%;
    float: left;
}

/*--------------------------------------------------------------------------------------
-------------------------			FLOATS      	     		------------------------
--------------------------------------------------------------------------------------*/
.left {
    float:left;
}

.right {
    float:right;
}
