
<nav>
    <h1>Accounts</h1>
    <md-list class="my-grid">
        <md-list-item md-ink-ripple="#03A9F4" ng-repeat="account in _ctrl.accounts" style="min-height:40px !important;padding:0px;border-bottom: 1px solid #CCC;">
            <p ng-click="_ctrl.selectAccount(account, $index)" title="{{account.url}}">{{account.url}}</p>
        </md-list-item>
    </md-list>
    <p style="margin-top:20px;">
        <a href="javascript:void(0);" ng-click="_ctrl.state('add')">add</a> | 
        <a href="javascript:void(0);" ng-click="_ctrl.state('edit')">edit selected</a> | 
        <a href="javascript:void(0);" ng-click="_ctrl.state('delete')">delete selected</a>
    </p>
</nav>
<div id="body">
    <h1>Account Details</h1>

    <!-- form for viewing the selected account -->
    <div ng-show="_ctrl.viewing" class="form-horizontal">
        <p>Details of the currently selected account</p>
        <div class="fieldset-data">
            <fieldset>
                <section class="control-group">
                    <label class="control-label" for="spnAlias">Alias:</label>
                    <p id="spnAlias">{{_ctrl.selected.alias}}</p>
                </section>
                <section class="control-group">
                    <label class="control-label" for="spnAccount">Account:</label>
                    <p id="spnAccount">{{_ctrl.selected.name}}</p>
                </section>
                <section class="control-group">
                    <label class="control-label" for="spnUrl">URL:</label>
                    <p id="spnUrl">{{_ctrl.selected.url}}</p>
                </section>
                <section class="control-group">
                    <label class="control-label" for="spnKey">Key:</label>
                    <p id="spnKey">##### (hidden)</p>
                </section>
            </fieldset>
        </div>
    </div>

    <!-- form for adding a new account -->
    <div ng-show="_ctrl.adding" class="form-inline-block">
        <p>Add an account and key for retrieving Batch account data</p>
        <form name="addAccountForm" novalidate="novalidate">
            <input type="text" ng-model="account.alias" class="form-input" placeholder="account alias ..." required="required" />
            <input type="text" ng-model="account.name" class="form-input" placeholder="account name ..." required="required" />
            <input type="text" ng-model="account.url" class="form-input-wide" placeholder="batch service url ..." required="required" />
            <input type="text" ng-model="account.key" class="form-input-wide" placeholder="account key ..." required="required" />
            <input type="checkbox" ng-model="account.isDefault" value="false" />&nbsp;<span>set as default account</span>
        </form>

        <p>&nbsp;</p>
        <div class="button-bar">
            <button type="submit" ng-click="add(account)" class="btn">
                <span>Save</span>
            </button>
            <button type="reset" ng-click="reset()" class="btn btn-inverse">
                <span>Reset</span>
            </button>

            <div data-ng-show="_ctrl.validationErrors.length > 0" data-ng-cloak class="input-validation-error">
                <ul>
                    <li ng-repeat="error in _ctrl.validationErrors">{{error}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- form for editing the selected account -->
    <div ng-show="_ctrl.editing" class="form-inline-block">
        <p>Edit not implemented</p>
    </div>

    <!-- form for removing the selected account -->
    <div ng-show="_ctrl.deleting" class="form-inline-block">
        <p>Delete not implemented</p>
    </div>
</div>
