body {
  font-family: wf_segoe-ui_normal, 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.4;
  color: #333333;
}
p {
  margin: 0 0 0.7;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: wf_segoe-ui_normal, 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  line-height: 20px;
  color: #008272;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 1.4;
}
h1 {
  font-size: 15.5pt;
}
h2 {
  font-size: 10pt;
}
h3 {
  font-size: 10pt;
}
h4 {
  font-size: 15.5pt;
  color: #008272;
}
h5 {
  line-height: 19px;
  color: #008272;
}
h6 {
  font-size: 10pt;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}
h1 small {
  font-size: 14pt;
}
h2 small {
  font-size: 12.5pt;
}
h3 small {
  font-size: 10pt;
}
h4 small {
  font-size: 10pt;
}
.page-header {
  padding-bottom: -0.3;
  margin: 1.4 0 2.1;
  border-bottom: 1px solid #cccccc;
}
ul,
ol {
  padding: 0;
  margin: 0 0 0.7 25px !important;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.4;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
hr {
  margin: 1.4 0;
  border: 0;
  border-top: 1px solid #EDEEF2;
  border-bottom: 1px solid #fff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #EDEEF2;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.4;
  border-left: 5px solid #EDEEF2;
}
blockquote p {
  margin-bottom: 0;
  font-size: 12.5pt;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 1.4;
  color: #cccccc;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #EDEEF2;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 1.4;
  font-style: normal;
  line-height: 1.4;
}
p {
  font-size: 10pt;
  color: #898989;
  font-weight: 400;
}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  background-color: #F2F2F2;
}
a {
  color: #008272;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #6195ED;
  text-decoration: none;
}
.center_this {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
/*--------------------------------------------------------------------------------------
-------------------------			MAIN LAYOUT  				------------------------
--------------------------------------------------------------------------------------*/
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/*/* Wrapper for page content to push down footer */
#container {
  width: 100%;
  position: relative;
  /* needed for footer positioning*/
  margin: 0 auto;
  /* center, not in IE5 */
  background: 2white;
  height: auto !important;
  /* real browsers */
  height: 100%;
  /* IE6: treaded as min-height*/
  min-height: 100%;
  /* real browsers */
  padding: 0;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 75px;
  z-index: 900;
}
#content {
  position: fixed;
  top: 81px;
  bottom: 75px;
  min-height: 425px;
  overflow: hidden;
  width: 100%;
}
#content nav {
  width: 250px;
  height: 100%;
  background-color: #edf1f2;
  border-right: 1px solid #666666;
  display: block;
  float: left;
}
#content #body {
  width: 500px;
  height: 100%;
  display: block;
  overflow: hidden;
  float: left;
}
.wrapper {
  padding: 20px;
}
.page-intro {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}
.page-intro section#sub-nav {
  color: #666666;
  margin-top: -28px;
  color: #858585;
}
.page-intro section#sub-nav ul {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 -3px;
  padding: 0;
}
.page-intro section#sub-nav ul li {
  float: left;
  margin-right: 5px;
}
.page-intro section#sub-nav ul li a {
  color: #666666 !important;
  padding: 2px 4px 2px 4px;
}
.page-intro section#sub-nav ul li a.selected {
  color: #008272 !important;
}
.page-intro section#sub-nav ul li a:hover {
  color: #008272 !important;
}
.page-intro h1 {
  margin-top: 5px;
  padding-top: 5px;
  font-family: wf_segoe-ui_semilight, 'Segoe UI Semilight', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-weight: normal;
}
.page-intro h1 span {
  font-family: wf_segoe-ui_semibold, 'Segoe UI Semibold', 'Segoe WP Semibold', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-weight: normal;
}
.page-intro p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #898989;
  padding-left: 2px;
  margin-top: 8px;
}
/*--------------------------------------------------------------------------------------
-------------------------			OTHER LAYOUTs  				------------------------
--------------------------------------------------------------------------------------*/
.upload-section-block {
  display: table;
  width: 100%;
}
.upload-section-block .col1 {
  width: 80px;
  float: left;
}
.upload-section-block .colNext {
  float: left;
}
.fifty-fifty {
  display: table;
  width: 100%;
}
.fifty-fifty .col1 {
  width: 48%;
  float: left;
}
.fifty-fifty .col2 {
  width: 50%;
  float: right;
  padding-left: 10px;
}
.twothirds-onethird {
  display: table;
  width: 100%;
  padding: 0px;
}
.twothirds-onethird .col1 {
  display: table-cell;
  width: 65%;
  float: left;
}
.twothirds-onethird .col2 {
  display: table-cell;
  width: 35%;
  float: left;
}
.twothirds-onethird-reverse {
  display: table;
  width: 100%;
}
.twothirds-onethird-reverse .col1 {
  width: 34%;
  float: left;
}
.twothirds-onethird-reverse .col2 {
  width: 64%;
  float: left;
  padding-left: 15px;
}
.third-third-third {
  display: table;
  width: 100%;
  padding: 0px;
}
.third-third-third .col1 {
  display: table-cell;
  width: 32.5%;
  float: left;
}
.third-third-third .col2 {
  display: table-cell;
  width: 32.5%;
  float: left;
}
.third-third-third .col3 {
  display: table-cell;
  width: 35%;
  float: left;
}
/*--------------------------------------------------------------------------------------
-------------------------			FLOATS      	     		------------------------
--------------------------------------------------------------------------------------*/
.left {
  float: left;
}
.right {
  float: right;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 75px;
  z-index: 900;
}
#footer {
  position: absolute;
  height: 75px;
  width: 100%;
  bottom: 0;
  /* stick to bottom */
  background-color: #666666;
  z-index: 900;
}
#footer p {
  color: #edf1f2;
}
#loading-wrapper {
  height: 50%;
  margin-bottom: -120px;
}
#loading-wrapper .loading {
  clear: both;
  height: 240px;
  position: relative;
  padding-top: 30px;
}
.top-navigation {
  min-width: 100%;
  position: fixed;
  z-index: 1030;
  margin-bottom: 0;
  background-color: #565759;
}
.top-navigation p a {
  font-size: 10pt;
  color: #fff;
  font-family: wf_segoe-ui_normal, 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
}
.top-navigation .logo-banner-bar {
  float: left;
  height: 31px;
}
.top-navigation .logo-banner-bar a {
  position: relative;
  display: inline-block;
}
.top-navigation .logo-banner-bar a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.top-navigation .logo-banner-bar .logo {
  margin-top: 7px;
  margin-left: 9px;
  float: left;
}
.top-navigation .user_menu {
  background-color: #565759;
  height: 31px;
  clear: none;
  float: right;
  cursor: pointer;
  /*
            drop down menu, specific to the user_menu only.
            if moved out of here it breaks all other drop downs 
            in the site, including anything that uses the bootstrap 
            calendar 
        */
}
.top-navigation .user_menu.open {
  background-color: #666666 !important;
}
.top-navigation .user_menu:hover {
  background-color: #666666;
  height: 31px;
}
.top-navigation .user_menu p {
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  padding: 0 0 0 5px;
}
.top-navigation .user_menu a p {
  margin-right: 13px;
  float: left;
}
.top-navigation .user_menu a p image {
  margin-top: 5px;
  margin-right: 13px;
}
.top-navigation .user_menu a:hover {
  border-bottom: none;
}
.top-navigation .user_menu .usermenu .person_icon {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 9px;
}
.top-navigation .user_menu .usermenu .userLabel {
  float: left;
  color: white;
  padding-top: 1px;
}
.top-navigation .user_menu .usermenu .userLabel:hover {
  color: #85c3bb;
}
.top-navigation .user_menu .usermenu .user_arrow {
  float: right;
  height: 30px;
  width: 30px;
  background-image: url(../images/header/avatar-default-small.png);
  background-repeat: no-repeat;
}
.top-navigation .user_menu .usermenu .user_arrow.aad {
  background-image: url(../images/header/avatar-org-small.png) !important;
}
#sub-navigation {
  position: fixed;
  top: 31px;
  width: 100%;
  height: 45px;
  background-color: #666666;
}
#sub-navigation ul {
  margin: 0;
  padding-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  list-style: none;
}
#sub-navigation ul li {
  float: left;
  font-size: 14pt;
}
#sub-navigation ul li a {
  color: #78A3A1;
  border-bottom: none !important;
  text-decoration: none;
  cursor: pointer;
}
#sub-navigation ul li a .selected {
  color: #fff;
}
#sub-navigation ul li a:hover {
  color: #fff;
}
#sub-navigation ul li span {
  color: #949BA4;
  display: block;
  line-height: 10px;
  padding: 7px 10px 0px 10px;
}
.my-grid md-list-item > p,
.my-grid md-list-item > .md-list-item-inner > p,
.my-grid md-list-item .md-list-item-inner > p,
.my-grid md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.my-grid md-list {
  padding: 0px 0px 0px 0px !important;
}
.my-grid md-list-item {
  padding-top: 0;
}
